@charset "ISO-8859-1";

body {
	font-family: 'Josefin Slab', sans-serif;
	background-color: white;
	line-height: 35px;
}

a {
	color: gray;
	position: relative;
	text-decoration: none;
	padding-bottom: 10px;
}

a:before, a:after {
	content: '';
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	height: 1px;
	background-color: black;
}

a:before {
	opacity: 0;
	transform: translateY(-8px);
	transition: transform 5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		opacity 0s;
}

a:after {
	opacity: 0;
	transform: translateY(4px);
	transition: transform 3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		opacity 0.3s;
}

a:hover {
	color: black;
}

a:hover:before, a:focus:before, a:hover:after, a:focus:after {
	opacity: 1;
	transform: translateY(0);
}

a:hover:before, a:focus:before {
	transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		opacity 0.3s;
}

a:hover:after, a:focus:after {
	transition: transform 0s 0.0s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		opacity 0s 0.3s;
}

/* classe per centrare box nella pagina */
.centrato {
	text-align: center;
	width: 900px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -450px;
}

/* contenitore rosa */
.contenitore {	
	position: relative;
	background: #fbf2eb;
	text-align: center;
	border-width: thin;
	border-color: black;
	border-style: solid;
	width: 520px;
	padding: 25px;
	margin: 0 auto;
  	z-index: 10;
  	top: -1.3em;
}

/* linea sotto il contenitore rosa */
.linea {
	position:relative;
	z-index:20;
    height:1px;
    width:100%;
    background-color:black;
    display: inline-block;
    border-spacing: 0;
    border-collapse: collapse;
}